MONGO_URI=<YOUR_MONGODB_CONNECTION_STRING>
JWT_SECRET=<YOUR_JWT_SECRET>
PORT=5001

PASSENGER_EMAIL=<PASSENGER_EMAIL>
PASSENGER_PASSWORD=<PASSENGER_PASSWORD>
STAFF_EMAIL=<STAFF_EMAIL>
STAFF_PASSWORD=<STAFF_PASSWORD>